# Yarn
node_modules
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Next build files
.next
public/build
# Blog RSS feed
public/blog/rss.xml
out

# macOS files
.DS_Store

# TypeScript files
tsconfig.tsbuildinfo
