@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;
}

.heading {
  color: $blue-700;
}
