@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.contact {
  height: 100%;
  border-color: $blue-100;
  background: linear-gradient(135deg, $blue-100, $white 75%);
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));

    > * {
      grid-column: span 3;
    }
  }

  .contact {
    grid-row: span 2;
  }
}

@media (min-width: 992px) {
  .grid > .resource {
    grid-column: span 2;
  }
}
