@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  background-color: $gray-200;
}
