@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.card {
  height: 100%;
  border-color: $blue-100;
  background: linear-gradient(135deg, $blue-100, $white 75%);
}

.address {
  width: fit-content;
  color: $blue-700;
  overflow-wrap: anywhere;
  text-underline-offset: 0.2em;

  &:hover {
    color: $blue-900;
  }
}
