@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

.header {
  background-color: $blue-800;
}

.nav-link {
  font-size: larger;
  color: white !important;
}

.nav-link:hover {
  color: $yellow !important;
}

.nav-link.active {
  color: $yellow !important;
}
